/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Container styles */
#container, #quiz-setup, #quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
    width: 90%;
    max-width: 500px;
}

/* Heading styles */
h1, h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Textarea styles */
#inputText {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Button styles */
button {
    margin: 10px 0;
    padding: 10px 20px;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Option button styles */
#options button {
    background-color: #007BFF;
}

#options button:hover {
    background-color: #0056b3;
}

/* Quiz result styles */
#result, #quiz-result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

/* Hidden sections */
#quiz-setup #quiz-length-buttons, #quiz-container, #nextQuestionButton {
    display: none;
}

/* Showing sections when necessary */
#quiz-setup.active #quiz-length-buttons, #quiz-container.active, #nextQuestionButton.active {
    display: block;
}

/* Button container styles */
#difficulty-buttons, #quiz-length-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Align text to center */
#question {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Align options in a grid */
#options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.hidden {
    display: none;
}
